/* <!-- // By Elena Sosa
// 02/19/2018
// Course: CPNT-262-A - Web Client & Server Prog. (JavaScript)
// Instructor: Heather Tovey
// Assignment: FINAL PROJECT | This website wants to inform potential customers about available wine tours, what is included in each tour package, and how to book one. --> */

/* * * * * * * * * * * * * * * * * * * * *
General
* * * * * * * * * * * * * * * * * * * * */

.wrapper {
  width: 100%;
  margin: 0 auto;
  max-width: 1000px;
}

h1 {
  font-family: "Lustria", serif;
  font-size: 30px;
  font-weight: 400;
}

h2 {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-size: 2.5em;
  margin-bottom: 30px;
  margin-top: 5px;
  text-align: center;
}

ul li {
  list-style: none;
}

button {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  color: #fff;
  border: none;
  background: #7e1d30;
  padding: 5px 10px;
  margin-top: 10px;
}

button a {
  color: #fff;
}

button:hover {
  cursor: pointer;
  background: #bca660;
  color: #fff;
}

/* * * * * * * * * * * * * * * * * * * * *
  Header (general for all pages)
  * * * * * * * * * * * * * * * * * * * * */

header {
  height: 64px;
  background: #003b36;
  padding-bottom: 5px;
  padding-left: 20px;
}

.logo {
  margin-right: auto;
}

#logoicon {
  color: #edc951;
}

.logo span {
  font-family: "Lustria", serif;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 16px;
  margin-left: 5px;
  color: #bca660;
}

header ul {
  margin-bottom: 0;
  display: flex;
  list-style: none;
}

header li {
  margin-right: 20px;
}

header ul li a {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  height: 64px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  color: #fff;
  text-decoration: none;
}

header ul li a:hover {
  background: rgba(255, 255, 255, 0.404);
}

a:hover {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

/* * * * * * * * * * * * * * * * * * * * *
  Hero 2 (for all pages except home page)
  * * * * * * * * * * * * * * * * * * * * */

.pages-hero {
  background: url(./img/hero-bg-2.jpg);
  background-position: 30% 50%;
  height: 200px;
  background-size: cover;
  margin: 0;
  position: relative;
}

.pages-hero-content {
  min-width: 200px;
  position: absolute;
  bottom: 50px;
  left: 0;
  right: 0;
}

.pages-hero-content h2 {
  margin: 14px;
  font-size: 64px;
  color: #fff;
}

/* * * * * * * * * * * * * * * * * * * * *
  Mobile Menu
  * * * * * * * * * * * * * * * * * * * * */

.menu {
  width: 200px;
  background: #bca660;
  height: 46vh;
  position: absolute;
  top: 0;
  right: 0;
  transition: 0.5s;
  transform: translate(0px, 0px);
  z-index: 100;
  display: none;
}

.menu ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
}
.menu li {
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  color: #fff;
  width: 80%;
}

.menu li:hover {
  background: #003b36;
}

.closed {
  transform: translate(500px, 0px);
}

#close-button {
  background: transparent;
  border: none;
}

#close-button i {
  color: #fff;
}

#hamburger-button {
  display: none;
  background: transparent;
  border: none;
}

#hamburger-button i {
  color: #fff;
}

#hamburger-button i:hover {
  color: #bca660;
}

@media screen and (max-width: 600px) {
  .menu {
    display: block;
  }
  header ul {
    display: none;
  }
  #hamburger-button {
    display: block;
    color: #fff;
  }
  .logo span {
    display: inline;
  }
}

/* * * * * * * * * * * * * * * * * * * * *
  Hero (Homepage)
  * * * * * * * * * * * * * * * * * * * * */

.hero {
  background-attachment: fixed;
  height: 650px;
  padding: 50px 50px 5px 50px;
  background-image: url(./img/hero-bg.jpg);
  background-position: 10% 50%;
  background-size: cover;
}
.hero-content {
  padding: 30px 50px;
  width: 30%;
  height: 382px;
  margin-top: 80px;
  margin-left: 500px;
  background: #f8f5f9;
  opacity: 0.84;
  display: flex;
  flex-direction: column;
}

.hero-content h1 {
  margin-bottom: 10px;
}

#hero-form {
  display: flex;
  flex-direction: column;
}

#hero-form label {
  margin-bottom: 5px;
  margin-top: 15px;
}

#submitBtn {
  color: #fff;
  border: none;
  background: #012622;
  padding: 5px 10px;
  margin: 15px 0;
}

#submitBtn a {
  color: #fff;
}

#submitBtn:hover {
  cursor: pointer;
  background: #02584e;
  color: #fff;
}

/* * * * * * * * * * * * * * * * * * * * *
QUOTE BELOW HOMEPAGE HERO
* * * * * * * * * * * * * * * * * * * * */

.quote-container {
  background-color: #bca660;
}

.quote-box {
  padding: 8px;
  display: flex;
  justify-content: center;
  text-align: center;
}

.quote-box p {
  font-family: "Karla", sans-serif;
  color: #003b36;
  font-size: 1.2rem;
}

@media screen and (max-width: 700px) and (min-width: 360px) {
  .hero {
    height: 500px;
    background-position: 30% 0%;
    background-image: linear-gradient(
        to bottom,
        rgba(69, 69, 69, 0.092),
        rgba(0, 0, 0, 0)
      ),
      url(./img/hero-bg.jpg);
    padding: 20px;
  }

  .hero-content {
    width: 80%;
    margin: 0;
    padding: 10px;
  }

  .hero-content h1 {
    font-size: 35px;
    margin-bottom: 0px;
    text-align: center;
  }

  .hero-content p {
    display: none;
  }

  .hero-content form {
    margin-bottom: 50px;
  }
  .hero-content button {
    width: 100%;
  }
}

@media screen and (max-width: 481px) {
  .hero-content {
    width: 100%;
  }
  .hero-content h1 {
    margin-bottom: 50px;
  }
}

/* * * * * * * * * * * * * * * * * * * * *
  HOME PAGE MAIN CONTENT
  * * * * * * * * * * * * * * * * * * * * */

main {
  min-height: 600px;
  padding: 15px 0px 0px;
  width: 100%;
  margin: 30px auto 0;
}

/* * * * * * * * * * * * * * * * * * * * *
TOURS SECTION ("vacation packages")
* * * * * * * * * * * * * * * * * * * * */

.tours-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 20px;
  position: relative;
}

main .row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

main .tours-box {
  margin: 10px 10px;
  flex-basis: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main .tours-box img,
h6,
p {
  margin: 10px;
  text-align: center;
}

.tours-box img {
  height: 100%;
}

main .tours-box h6 {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: #4d4d4d;
}

main .tours-box p {
  font-family: "Roboto" sans-serif;
  font-size: 15px;
  line-height: 1.5em;
}

main .tours-box hr {
  border: 0.5px solid #3f3f3f64;
  width: 30px;
  margin: 5px auto;
}

/* * * * * * * * * * * * * * * * * * * * *
  ABOUT US SECTION (home page)
  * * * * * * * * * * * * * * * * * * * * */
.about-us-block {
  width: 100%;
}

.about-us-wrapper {
  background: #bca660;
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 40px 0px 0px 0px;
}

.about-us-box {
  width: 50%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px auto;
}

.about-us-box h6 {
  font-family: "Lustria", serif;
  font-size: 40px;
  font-weight: bold;
}

.about-us-box p {
  font-family: "Karla", sans-serif;
  font-size: 20px;
}

.about-us-img-box {
  width: 50%;
  background-image: url(./img/winetour.jpg);
  background-size: cover;
  background-position: center;
}

/* * * * * * * * * * * * * * * * * * * * *
  EXPERTS PAGE aka CONTACT US ("agents")
  * * * * * * * * * * * * * * * * * * * * */
.expert-block {
  padding: 50px;
  width: 100%;
  min-height: 600px;
  margin: 14px auto;
}

.expert-box {
  width: 100%;
  display: flex;
  padding: 20px;
  margin: 20px 0;
}

.expert-info {
  justify-content: space-between;
}

.expert-box button {
  margin-top: 20px;
}

.expert-image {
  border-radius: 50%;
  margin-right: 20px;
  width: 30%;
  height: auto;
}

.expert-image img {
  border-radius: 50%;
  width: 100%;
}

@media screen and (max-width: 600px) {
  .expert-block {
    padding: 15px;
  }

  .expert-content {
    font-size: 15px;
  }
}

@media screen and (max-width: 481px) {
  .expert-content {
    padding: 50px 20px;
  }
}

/* * * * * * * * * * * * * * * * * * * * *
BOOKINGS PAGE aka CUSTOMER REGISTRATION 
* * * * * * * * * * * * * * * * * * * * */

.register {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.register-content {
  min-width: 70%;
  background: rgb(238, 238, 238);
  padding: 50px;
}

#user-register {
  display: flex;
  flex-direction: column;
}

#registerBtn {
  color: #fff;
  border: none;
  background: #cf1e43;
  padding: 5px 10px;
  margin: 15px 0;
}

#registerBtn a {
  color: #fff;
}

#registerBtn:hover {
  cursor: pointer;
  background: #980021;
  color: #fff;
}

.register-content label {
  font-size: 15px;
  margin: 10px 0 5px 0;
  font-family: "Karla", sans-serif;
}
.register-content input,
label {
  margin-bottom: 1px;
}
.register h2 {
  margin-bottom: 10px;
}
.register p {
  margin-bottom: 25px;
  font-family: "Karla", sans-serif;
}
.register-content input,
p,
label {
  font-family: "Roboto", sans-serif;
}

/* * * * * * * * * * * * * * * * * * * * *
  TOURS PAGE aka VACATION PACKAGES
  * * * * * * * * * * * * * * * * * * * * */

.tours {
  padding: 30px 100px;
}

.tours-content {
  margin: 10px 50px 80px;
  padding: 10px;
  flex-basis: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fff;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.263);
  transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}

.tours-content:hover {
  transform: translateY(-8px);
}

.tours-content h6,
p {
  margin: 10px;
}

.tours-content h6 {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: #4d4d4d;
  text-align: center;
}

.tours-content img {
  width: 250px;
  height: 200px;
  margin: 20px auto;
}

.tours-content p {
  font-family: "Roboto" sans-serif;
  font-size: 15px;
  line-height: 1.5em;
}

.tours-content hr {
  border: 0.5px solid #3f3f3f64;
  width: 30px;
  margin: 5px auto;
}

.tours-content button {
  margin: 10px auto;
}

/* Flying plane */

#flying-plane {
  padding-top: 2px;
  position: absolute;
  left: 0;
  width: 128px;
  height: auto;
  color: #bca660;
}

@media (max-width: 600px) {
  .tours .to-content {
    min-width: 300px;
  }
}

/* * * * * * * * * * * * * * * * * * * * *
  PRE-FOOTER SECTION
  * * * * * * * * * * * * * * * * * * * * */

.pre-footer-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 10px 0px 0px 0px;
}

.subscription-box {
  width: 100%;
  height: 380px;
  background-image: url(./img/prefooter.jpg);
  background-size: cover;
  background-position: 80% 46%;
  padding: 70px;
  opacity: 0.88;
}

.subscription-box h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-size: 60px;
  color: #fff;
}

.subscription-box p {
  font-family: "Karla", sans-serif;
  font-size: 24px;
  color: #fff;
}

.subscription-box .input-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  width: 300px;
  margin: 0px auto;
}

.input-box input {
  width: 100%;
  border: none;
  padding: 10px;
}

.input-box ::placeholder {
  font-size: 16px;
  text-align: center;
}

@media screen and (max-width: 600px) {
  .subscription-box {
    background-image: url(./img/prefooter2.jpg);
    background-position: 80% 50%;
    background-size: cover;
    width: 100%;
    padding: 20px;
    margin: 0;
  }
  .subscription-box h6 {
    font-size: 30px;
  }

  .subscription-box p {
    font-size: 12px;
  }

  .input-box input {
    margin-top: 150px;
  }
}

@media screen and (max-width: 481px) {
  .input-box input {
    margin-top: 80px;
  }
}

/* * * * * * * * * * * * * * * * * * * * *
  FOOTER SECTION
  * * * * * * * * * * * * * * * * * * * * */

footer {
  width: 100%;
  background: #003b36;
}

.container {
  padding: 20px;
}

footer h2 {
  color: #bca660;
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 900px;
  margin: 0 0 10px 0;
  font-family: "Montserrat", sans-serif;
  text-align: left;
}

footer ul {
  margin: 0 0 30px 0;
  padding: 0;
}

footer li {
  margin-top: 8px;
}

footer a {
  font-family: "Karla", sans-serif;
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  font-weight: 300;
}

.social-icons {
  width: 60%;
  display: flex;
  flex-direction: row;
}

.social-icons li {
  flex: 1;
}

.contact-info {
  width: 60%;
  display: flex;
  flex-direction: column;
}

.contact-info li {
  flex: 1;
}

footer span {
  font-size: 10px;
  color: #fff;
  font-family: "Karla", sans-serif;
  letter-spacing: 0.3em;
}

footer p {
  color: #b2b2b2;
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
}

#currentDate {
  color: #fff;
  font-family: "Lustria", serif;
}

/* * * * * * * * * * * * * * * * * * * * *
ERROR
* * * * * * * * * * * * * * * * * * * * */

#error {
  color: #cf1e43;
  text-decoration: underline;
}
